.navbar {
    display: flex;
}

.items {
    padding-right: 60px;
}
.item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: lightgray;
}
.space {
    flex: auto;
}

.login-button {
}
.login-button:focus {
    outline: 0;
}