<div class="background">
    <img src="assets/images/background.jpg" alt="">
</div>
<div class="container">
    <mat-grid-list cols="2" class="grid">
        <mat-grid-tile>
            <div class="illustration-image">
                <img src="assets/images/books-lover-illustration.svg" alt="">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="login-container">
                <mat-card>
                    <div class="input-fields">
                        <h2>Welcome</h2>
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Username" [(ngModel)]="loginInput.username">
                            </mat-form-field>
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <mat-form-field>
                                <input type="password" matInput placeholder="Password" [(ngModel)]="loginInput.password">
                            </mat-form-field>
                        </div>
                        <a href="#">Forgot password?</a>
                        <button mdbBtn outline="true" gradient="aqua" rounded="true" mdbWavesEffect [routerLink]="['/home']">Sign
                            in</button>
                    </div>
                </mat-card>

            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>