<div class="container">
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div class="illustration-image">
                <img src="assets/images/books-lover-illustration.svg" alt="">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="login-container">
                <form>
                    <h2>Welcome</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <h5>Username</h5>
                        <input class="input" type="text">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <h5>Password</h5>
                        <input class="input" type="password">
                    </div>
                    <a href="#">Forgot password?</a>
                    <button type="button" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/home']">Sign
                        in</button>
                </form>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<i class="fas fa-user"></i>